<div class="container">
    <div class="row">
        <div class="col">
            <br><br>
            <h3 class="titre">Résultat pour {{villeSaisie}} :</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="titre"> Informations générale :</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <!-- API Cartographie-->
            </div>
        </div>
        <div class="col">
            <!-- Information importante de la ville -->
            <h4>Nom : {{maVille.location[1].name}}</h4>
            <h4>Pays :</h4>
            <h4>Région :</h4>
            <h4>Latitude :</h4>
            <h4>Longitude :</h4>
            <h4>Date et heure locale :</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="titre"> Météo :</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Heure du relevé :</h4>
            <h4>Température :</h4>
            <h4>Temps :</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="titre">Informations détaillée :</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Vitesse du vent :</h5>
            <h5>Angle du vent :</h5>
            <h5>Direction du vent :</h5>
            <h5>Pression :</h5>
            <h5>Précipitation :</h5>
            <h5>Humidité :</h5>
            <h5>Couverture nuageuse :</h5>
            <h5>Indice de confiance :</h5>
            <h5>Indice UV :</h5>
            <h5>Visibilité :</h5>
        </div>
    </div>
    <hr>
</div>