.titre {
    text-align: center;
}

#mapid {
    height: 300px;
    width: 500px;
}

#backgroundColorNight {
    background-color: #3C4A90;
}

#backgroundColorDay {
    background-color: #96B5E5;
}

//#96B5E5 color jour 
//#3C4A90 color nuit